@import "../styles/variables.scss";

.chip {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: solid 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .gem {
    height: 60%;
    width: 75%;
    background-repeat: no-repeat;
    background-size: 500% 100%;
    background-image: url('/images/gems.png');

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: 600;
    color: white;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  &.gold {
    border-color: $gold;
  }
  &.onyx {
    border-color: $onyx;
    .gem { background-position: 0 0; }
  }
  &.sapphire {
    border-color: $sapphire;
    .gem { background-position: 25% 0; }
  }
  &.diamond {
    border-color: $diamond;
    .gem { background-position: 50% 0; }
  }
  &.emerald {
    border-color: $emerald;
    .gem { background-position: 75% 0; }
  }
  &.ruby {
    border-color: $ruby;
    .gem { background-position: 100% 0; }
  }
}