.menu {
  h2 {
    margin-bottom: 0;
  }

  .description {
    font-style: italic;
  }

  .player {
    padding: 16px;
    display: flex;
    flex-direction: column;

    .name {
      padding: 8px;
      border-radius: 8px;
      border: solid 1px darkgray;
    }

    label {
      padding: 4px 8px;
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  button {
    margin: 8px;
    padding: 8px;
  }
}